@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@font-face {
    font-family: "Barlow";
    src: url('/fonts/Barlow-Regular.ttf');
}

@font-face {
    font-family: "Poppins";
    src: url('/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url('/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: "Raleway";
    src: url('/fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: "Raleway";
    src: url('/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: "Lato";
    src: url('/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Oswald-SemiBold";
    src: url('/fonts/Oswald-SemiBold.ttf');
}

@theme {
    --font-barlow: "Barlow", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-poppins-extrabold: "Poppins-ExtraBold", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-lato: "Lato", sans-serif;
    --font-raleway: "Raleway", sans-serif;
    --font-raleway-extrabold: "Raleway-ExtraBold", sans-serif;
    --font-oswald: "Oswald-SemiBold", sans-serif;
    --color-latar: #f3f4f6;
    --color-teks: #374151; 
    --color-teks-samping: #6b7280;
    --color-garis: #e5e7eb; 
    --color-hijau: #00B074; 
    --color-merah: #ef4444; 
    --color-biru: #3b82f6;
    --color-kuning: #f59e0b; 
}


